body {
    background-image: url("../media/background.jpg"); /*source: https://www.shutterstock.com/video/clip-30057805-professional-gamer-participates-esport-competitive-mmorpg-strategy */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
}
div {
    background-color: #888888;
    margin: auto;
    width: 50%;
    padding: 10px;
}
p, h1, h2, h3 {
    margin: auto;
    width: 50%;
    padding: 10px;
}
select {
    position: center center;
    margin-left: 25%;
    width: 50%;
    padding: 10px;
}
@media only screen and (max-width: 720px) {
    img {
        visibility: hidden;
    }
    iframe {
        visibility: hidden;
    }
}